# Import Libraries

In [21]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# Import Data

In [22]:
# 3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.
path = r'/Users/puchater/Documents/CareerFoundry/Data Immersion/4. Python/17042023 Instacart Bascet Analysis'

In [23]:
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined2.pkl'))

In [24]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'prods_checked.csv'), index_col = 0)

In [25]:
# 4. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).
df_orders_products_combined.shape

(32640698, 11)

In [26]:
df_prods.shape

(49677, 4)

In [27]:
df_prods.head ()

,product_name,aisle_id,department_id,prices
product_id,,,,
1,Chocolate Sandwich Cookies,61,19,5.8
2,All-Seasons Salt,104,13,9.3
3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
5,Green Chile Anytime Sauce,5,13,4.3

# Data merging

In [28]:
# 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. 
# Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder 
# from the previous Exercise’s task.
df_orders_products_combined.head()
# I see hat product_id format doesn't match between df_prods and df_orders_product_combined.

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,both

In [29]:
#I am checking if I dont have missing values in the product_id column. 
df_orders_products_combined.isnull().sum()

order_id                        0
user_id                         0
order_number                    0
orders_day_of_week              0
order_hour_of_day               0
days_since_prior_order    2078068
new_customer                    0
product_id                 206209
add_to_cart_order          206209
reordered                  206209
_merge                          0
dtype: int64

In [30]:
# There are 206209 missing values in product_id column in df_orders_products_combined.
# This match the results of a df_merge_large using the merge argument how = 'outer' for left only.
# For the Instacart project, we’ll only be working with data sets that have a full merge rate, 
# so I can just remove the rows with missing values.
df_orders_products_combined_clean = df_orders_products_combined[df_orders_products_combined['product_id'].isnull() == False]

In [31]:
df_orders_products_combined_clean.shape

(32434489, 11)

In [32]:
# After removing the missing value rows I am back at the correct no. of rows (32434489).
# I check the product_id again
df_orders_products_combined_clean.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,both

In [33]:
print(df_orders_products_combined_clean.dtypes)

order_id                     int64
user_id                      int64
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
new_customer                  bool
product_id                 float64
add_to_cart_order          float64
reordered                  float64
_merge                    category
dtype: object

In [34]:
df_orders_products_combined_clean = df_orders_products_combined_clean.astype({"product_id":'int', "add_to_cart_order":'int'})

In [35]:
print(df_orders_products_combined_clean.dtypes)

order_id                     int64
user_id                      int64
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
new_customer                  bool
product_id                   int64
add_to_cart_order            int64
reordered                  float64
_merge                    category
dtype: object

In [36]:
df_merged_large_2 = df_orders_products_combined_clean.merge(df_prods, on = ['product_id'])

In [37]:
df_merged_large_2.tail()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
32406036,1320836,202557,17,2,15,1.0,False,43553,2,1.0,both,Orange Energy Shots,64,7,3.7
32406037,31526,202557,18,5,11,3.0,False,43553,2,1.0,both,Orange Energy Shots,64,7,3.7
32406038,758936,203436,1,2,7,NaN,True,42338,4,0.0,both,"Zucchini Chips, Pesto",50,19,6.9
32406039,2745165,203436,2,3,5,15.0,False,42338,16,1.0,both,"Zucchini Chips, Pesto",50,19,6.9
32406040,3093936,205420,1,4,14,NaN,True,28818,8,0.0,both,Hot Oatmeal Multigrain Raisin,130,14,10.3

In [38]:
df_merged_large_2.shape

(32406041, 15)

In [39]:
# 6. Confirm the results of the merge using the merge flag.
df_merged_large_2['_merge'].value_counts()

both          32406041
left_only            0
right_only           0
Name: _merge, dtype: int64

# Data Export

In [40]:
# 7. Export the newly created dataframe as orders_products_merged in a suitable format 
#(taking into consideration the size).
df_merged_large_2.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged2.pkl'))